@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

html,body,#mapa {
    height: 100%;
    width: 100vw;
}

img.icone {
    position: relative;
    display: inline;
    height: 25px;
    width: 25px;
    top:7px
}

span.descricao {
    position: relative;
    margin-left: 6px ;
    top:1px
}

div.titulo { 
    background-color: white;
    opacity: 80%;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 5px;
    
}