@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

html, body, #mapa {
    height: 100%;
    width: 100vw;
}

#paragrafo {
    display: inline;
    text-align: center;
    background-color: rgb(50, 50, 233);
    color: white; 
    font-family:monospace;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.349);
}
div.titulo {
    opacity: 0.6;
}

span {
    padding: 2px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span#linha813 {
    background-color: green;
}

span#linha823 {
    background-color: red;
}

span#linha892 {
    background-color: blue;
}